#conteneur{
	position:relative;
}

#pic2{
	position:absolute;
	top:0px;
	left:0px;
}


#coffre{
	position:absolute;
	top:0px;
	left:0px;
}

#mur{
	position:absolute;
	top:0px;
	left:0px;

	background-image: url("../img/mur.png");
}

#fleche{
	position:absolute;
	top:0px;
	left:0px;

	background-image: url("../img/fleche.png");
}

#blanc {
	position:absolute;
	top:0px;
	left:0px;

	background-image: url("../img/blanc.png");
}