#conteneur{
	position:relative;
}

#pic2{
	position:absolute;
	top:0px;
	left:0px;
}

#coffre{
	position:absolute;
	top:0px;
	left:0px;
}

#mur{
	position:absolute;
	top:0px;
	left:0px;
}

#fleche {
	position:absolute;
	top:0px;
	left:0px;
}